*, * ::before, ::after *{
box-sizing: border-box;
}  

body {
    background-color: #FCB238;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.piano {
      display: flex;
      justify-content: left;
      align-content: left;
      place-content: left;
    margin:100px;
    }

.key {
height: calc(var(--width) * 4);
width: var(--width);
  }


.white {
width: 100px;
height: 400px;
background-color: white;
border: 1px solid #333;
}


.black {
--width: 60px;
    height: 240px;
background-color: black;
margin-left: calc(var(--width) / -2); 
margin-right: calc(var(--width) / -2);
z-index: 2;
}

#selected:hover {
position: relative;
    top: -2px; /* this will raise the element */
    box-shadow: 0 10px 10px 0 rgb(40, 39, 39), 
    0 6px 10px 0 rgb(40, 39, 39);

}

.info {
    font-style: normal;
    font-family: monospace;
    justify-content: center;
 place-content: center;
    height: 90vh;
    bottom: 0vh;
    margin: 100px;
}